.result-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    padding: 20px;
    background: white;
    margin-right: 10px;
    box-shadow: 1px 3px 10px grey;
    border-radius: 5px;
    min-height: 520px;
    .placeholder {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .list-body {
        display: flex;
        flex-direction: column;
    }
}