.App {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    margin: 0 20% 0 20%;

    .app-body {
        display: flex;
        flex-direction: row;
    }
}